{% load static %}


    <div id="templatemo_footer">
    	<div class="col col_16">
        	<h4>Категории</h4>
            <ul class="footer_menu">
			    {% for category in categories %}
                    <li><a href="{% url 'product_list' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
		  </ul>
        </div>
        <div class="col col_16">
        	<h4>Пользователям</h4>
            <ul class="footer_menu">
                {% for article in articles %}
                    {% if article.cat_id == 1 %}
                        <li><a href="{% url 'article' article.slug %}">{{ article.title }}</a></li>
                    {% endif %}
                {% endfor %}
			</ul>
        </div>
        <div class="col col_16">
        	<h4>Пресс-центр</h4>
            <ul class="footer_menu">
            	<li><a href="#">Новости</a></li>
            	<li><a href="#">Акции и Скидки</a></li>
			</ul>
        </div>
        <div class="col col_16">
        	<h4>О нас</h4>
            <ul class="footer_menu">
                {% for article in articles %}
                    {% if article.cat_id == 2 %}
                        <li><a href="{% url 'article' article.slug %}">{{ article.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{% url 'contact' %}">Контакты</a></li>
		  </ul>
        </div>
        <div class="col col_13 no_margin_right" id="site_title_footer">
        	<p><a href="{% url 'index' %}"></a></p>
            <div>р.п. Краснообск,<br>
            мкрн. 2, почтовый индекс 630501<br>
			<strong>Тел.:</strong> 010-225-1800<br>
            <strong>Email:</strong> <a href="mailto:info@securoko.ru">info@securoko.ru</a></div>

        </div>

        <div class="cleaner h40"></div>
		<center>
			Copyright © 2023 Securoko
		</center>
    </div> <!-- END of footer -->
