{% load static %}

<header>
<div id="templatemo_header">
    	<div id="site_title">
        	<h1><a href="{% url 'index' %}"></a></h1>
        </div>

        <div id="header_right" class="header_menu">
            <ul>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Выйти</a></li>
                <li><a href="{% url 'account' %}">Мой аккаунт</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
                <li>
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            В корзине:
                            <a href='{% url "cart_detail" %}'>
                                {{ total_items }} ед. на
                                {{ cart.get_total_price }} руб.
                            </a>
                        {% else %}
                            Ваша корзина пуста.
                        {% endif %}
                    {% endwith %}
                </li>
            </ul>
            <div class="cleaner"></div>
            <div id="templatemo_search">
                <form id="search" action="{% url 'product_list_all' %}" method="get">
                  <input type="text" value="{{search}}" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                  <input type="submit" value="" alt="search" id="searchbutton" title="search" class="sub_btn"  />
                </form>
            </div>
         </div> <!-- END -->
    </div> <!-- END of header -->

</header>