{% load static %}

<header>
<div id="templatemo_header">
    	<div id="site_title">
        	<h1><a href="#">Free Website Template</a></h1>
        </div>

        <div id="header_right">
            <ul id="language">
                <li><a href="#">Войти</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
            </ul>
            <div class="cleaner"></div>
            <div id="templatemo_search">
                <form action="#" method="get">
                  <input type="text" value="Search" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                  <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
                </form>
            </div>
         </div> <!-- END -->
    </div> <!-- END of header -->

</header>