
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'product_list_all' %}">Каталог</a>
                <ul>
                    {% for c in categories %}
                    <li><a href="{% url 'product_list' c.slug %}">{{ c.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="about.html">О нас</a>
                <ul>
                {% for article in articles %}
                    {% if article.cat_id == 2 %}
                        <li><a href="{% url 'article' article.slug %}">{{ article.title }}</a></li>
                    {% endif %}
                {% endfor %}
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
              </ul>
            </li>
            <li><a href="faqs.html">FAQs</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile_orders' user.id %}">Мои заказы</a></li>
            {% endif %}
            <li><a href="{% url 'contact' %}">Контакты</a></li>
        </ul>
        <br style="clear: left" />
    </div> <!-- end of templatemo_menu -->