{% extends 'shop/base.html' %}
{% block content %}
{% load static %}

{% if page == 'register' %}
<div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">

        {% include 'shop/sidebar.html' %}

        <div id="content">
        	<h2>Регистрация</h2>
            <div class="col col-13 checkout">
                <form action="{% url 'register' %}" method="post" class="form auth__form">
                  {% csrf_token %}
                  {% for field in form %}
                  <!-- Input:Text -->
                  <div class="form__field">
                    <label for="formInput#text">{{ field.label }}</label><br/>
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}

                  </div>
                  {% endfor %}

                  <div class="auth__actions" id="newsletter">
                    <input class="subscribebtn" type="submit" value="Зарегистрироваться" />
                  </div>
                </form>

                <div class="auth__alternative">
                  <p>У Вас уже есть учетная запись?</p>
                  <a href="{% url 'login' %}">Войдите</a>
                </div>
            </div>

        </div>
        <div class="cleaner"></div>
    </div>

{% else %}
<div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">

        {% include 'shop/sidebar.html' %}

        <div id="content">
          <h3>Авторизация</h3>
          <p>Авторизировавшись, вы сможете управлять своими личными данными, следить за состоянием заказов.</p>

            <div class="col col-13 checkout">
                <form action="{% url 'login' %}" method="post" class="form auth__form">
                    {% csrf_token %}
                  <!-- Input:Email -->
                  <div class="form__field">
                    <label for="formInput#text">Имя пользователя: </label><br/>
                    <input
                      class="input input--text"
                      id="formInput#text"
                      type="text"
                      name="username"
                      placeholder="Введите имя пользователя..."
                    />
                  </div>

                  <!-- Input:Password -->
                  <div class="form__field">
                    <label for="formInput#password">Пароль: </label><br/>
                    <input
                      class="input input--password"
                      id="formInput#password"
                      type="password"
                      name="password"
                      placeholder="••••••••"
                    />
                  </div>
                  <div class="auth__actions" id="newsletter">
                    <input class="subscribebtn" type="submit" value="Войти" />
                    <a href="forgetpassword.html">Забыл пароль?</a>
                  </div>
                <div class="auth__alternative">
                <p>Всё еще нет аккаунта?</p>
                <a href="{% url 'register' %}">Зарегистрируйтесь</a>
                </div>
                </form>

            </div>
        </div>

        <div class="cleaner"></div>
    </div>
{% endif %}

{% endblock content%}