{% extends 'shop/base.html' %}
{% block content %}
{% load static %}

<div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">

        {% include 'shop/sidebar.html' %}

        <div id="content">
        	<h2>Личные данные</h2>

            <div class="col col_13">
            <div id="contact_form">
               <form method="POST" name="contact" action="#">
                   {% csrf_token %}
                   {% for field in form %}

                    <label for="author">{{field.label}}</label>
                   {{field}}

                    <div class="cleaner h10"></div>

                   {% endfor %}

                   {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div><strong>{{ error|escape}}</strong></div>
                        {% endfor %}
                    {% endfor %}
                   {% endif %}

					<input type="submit" value="Сохранить" id="submit" name="submit" class="submit float_r" />

                </form>
            </div>
		</div>
            <div class="cleaner divider"></div>

			<div class="cleaner h30"></div>


        </div>

        <div class="cleaner h30"></div>

        </div> <!-- END of content -->


{% endblock content %}