{% extends 'shop/base.html' %}
{% block content %}
{% load static %}

<div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">

    {% include 'shop/sidebar.html' %}

        <div id="content">
            <h2>Ваша корзина</h2>
            <div class="cleaner h30"></div>

                    <table width="700px" cellspacing="0" cellpadding="5">
                   	  <tr bgcolor="#CCCCCC">
                        	<th width="220" align="left">Изображение </th>
                        	<th width="180" align="left">Название </th>
                       	  	<th width="100" align="center">Количество </th>
                        	<th width="60" align="right">Цена </th>
                        	<th width="60" align="right">Итого </th>
                        	<th width="90"> </th>

                      </tr>
                        {% for item in cart %}
                            {% with product=item.product %}
                    	        <tr>
                                    <td class="cart">
                                        <a href="{{ product.get_absolute_url }} " >
                                            <img src="{% if product.image %}
                                                            {{ product.image.url }}
                                                        {% else %}
                                                            {% static 'img/no_image.png' %}
                                                        {% endif %}"
                                                 alt="image 01" />
                                        </a></td>
                                    <td>{{ product.name }}</td>
                                    <td align="center">{{ item.quantity }} </td>
                                    <td align="right">{{ item.price }} </td>
                                    <td align="right">{{ item.total_price }} </td>
                                    <td align="center"> <a href="{% url 'cart_remove' product.id %}"><img src="{% static 'images/remove_x.gif' %}" alt="remove" /><br />Remove</a> </td>
						        </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr>
                        	<td colspan="3" align="right"  height="40px">Делали-ли Вы какие-либо изменения в корзине? Пожалуйста нажмите <a href="{% url 'cart_detail' %}"><strong>Обновить</strong></a>&nbsp;&nbsp;</td>
                            <td align="right" style="background:#ccc; font-weight:bold"> Итоговая сумма: </td>
                            <td colspan="3" align="right" style="background:#ccc; font-weight:bold">{{ cart.get_total_price }} </td>

						</tr>
					</table>
                    <div style="float:right; width: 215px; margin-top: 20px;">

                        <div class="checkout">
                            <a href="{% url 'order_create' %}" class="more">Оформить заказ</a>
                        </div>
                        <div class="cleaner h20"></div>
                        <div class="continueshopping"><a href="javascript:history.back()" class="more">Продолжить покупки</a></div>

                    </div>

            <div class="cleaner h50"></div>
            <h2>Cлучайный подбор</h2>
            {% include 'shop/random_product.html' %}

            <div class="cleaner"></div>
        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->

{% endblock content %}