{% extends 'shop/base.html' %}
{% block content %}
{% load static %}

<div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
        <div id="product_slider">
    		<div id="SlideItMoo_outer">
                <div id="SlideItMoo_inner">
                    <div id="SlideItMoo_items">
                        {% include 'shop/top_slider.html' %}
                    </div>
                </div>
            </div>
            <div class="cleaner"></div>
        </div>

        {% include 'shop/sidebar.html' %}

        <div id="content">
            <h2>Категория {{ category.name }}</h2>
            {% for product in products %}
        	<div class="col col_14 product_gallery">
            	<a href="{% url 'productdetail' product.id product.slug %}">
                    <img src="{{ product.image.url }}" alt="{{ product.slug }}" title="{{ product.slug }}" />
                <h3>{{ product.name|slice:45 }}</h3></a>
                <p class="product_price">{{ product.price }} Руб.</p>
                <div>
                    <form action="{% url 'cart_add' product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <div class="cleaner h20"></div>
                        <p><input type="submit" value="В корзину" class="add_to_cart"></p>
                    </form>
                </div>
            </div>
            {% endfor %}

            <div class="cleaner h20"></div>

            {% include 'shop/pagination.html' with queryset=products custom_range=custom_range %}
        </div>
        <!-- END of content -->

        <div class="cleaner"></div>

    </div> <!-- END of main -->

{% endblock %}