{% extends 'shop/base.html' %}
{% block content %}
{% load static %}

<div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
        <div id="product_slider">
    		<div id="SlideItMoo_outer">
                <div id="SlideItMoo_inner">
                    <div id="SlideItMoo_items">
                        {% include 'shop/top_slider.html' %}
                    </div>
                </div>
            </div>
            <div class="cleaner"></div>
        </div>

        {% include 'shop/sidebar.html' %}

        <div id="content">
            <h2>Категория {{ category.name }}</h2>
            {% for product in products %}
        	<div class="col col_14 product_gallery">
            	<a href="{% url 'productdetail' product.id product.slug %}">
                    <img src="{{ product.image.url }}" alt="{{ product.slug }}" />
                <h3>{{ product.name|slice:45 }}</h3></a>
                <p class="product_price">{{ product.price }} Руб.</p>
                <a href="shoppingcart.html" class="add_to_cart">Add to Cart</a>
            </div>
            {% endfor %}

        </div>
        <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->


{% endblock %}