{% extends 'shop/base.html' %}
{% block content %}
{% load static %}

<div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">

    {% include 'shop/sidebar.html' %}

        <div id="content">
        	<h2>Описание</h2>
            <div class="col col_13 product_detail">
        	    <img src="{{ product.image.url }}" alt="{{ product.slug }}" />
            </div>
            <div class="col col_13 no_margin_right">
                <table>
                    <tr>
                        <td height="30" width="160">Цена:</td>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <td height="30">Наличие:</td>
                        <td>In Stock</td>
                    </tr>
                    <tr>
                        <td height="30">Модель:</td>
                        <td>{{ product.model }}</td>
                    </tr>
                    <tr>
                        <td height="30">Производитель:</td>
                        <td>{{ product.manufacturer }}</td>
                    </tr>
                    <tr><td height="30">Количество</td><td><input type="text" value="1" style="width: 20px; text-align: right" /></td></tr>
                </table>
                <div class="cleaner h20"></div>
                <a href="shoppingcart.html" class="add_to_cart">Add to Cart</a>
			</div>
            <div class="cleaner h30"></div>

            <h5><strong>Характеристики</strong></h5>
            <p>{{ product.full_description|safe }}</p>

            <div class="cleaner h50"></div>

            {% include 'shop/random_product.html' %}

            <div class="cleaner"></div>
        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->

{% endblock content %}
